In [28]:
import numpy as pd
import pandas as pd
#Making dataset1
Gate_cutoff={
             'PaperCode':['XL','CE','EE','CS','ME'],
              'GEN':[31.70,32.90,33.40,28.50,34.00],
              'OBC':[28.50,29.60,30.00,25.60,30.60],
              'SC/ST':[21.10,21.90,22.20,20.00,22.60],	
              'Scope_to_qualify':[1,0,1,1,0],
              
        }
Data1=pd.DataFrame(Gate_cutoff)
Data1

  PaperCode   GEN   OBC  SC/ST  Scope_to_qualify
0        XL  31.7  28.5   21.1                 1
1        CE  32.9  29.6   21.9                 0
2        EE  33.4  30.0   22.2                 1
3        CS  28.5  25.6   20.0                 1
4        ME  34.0  30.6   22.6                 0

In [29]:
Data1=Data1.drop('PaperCode',axis=1)
Data1

    GEN   OBC  SC/ST  Scope_to_qualify
0  31.7  28.5   21.1                 1
1  32.9  29.6   21.9                 0
2  33.4  30.0   22.2                 1
3  28.5  25.6   20.0                 1
4  34.0  30.6   22.6                 0

In [30]:
#Saving the file in the csv file
Data1.to_csv("Gate_cutoff.csv")

In [31]:
#Making new dataset2
new_cutoff={
             'GEN':[30.00],
             'OBC':[28.00],
             'SC/ST':[20.00],
             
        }
Data2=pd.DataFrame(new_cutoff)
Data2

    GEN   OBC  SC/ST
0  30.0  28.0   20.0

In [52]:
distances=[]

In [53]:
import numpy as np
for i in range(len(Data1)):
  distance=np.sqrt((Data1.iloc[i,0]**2-Data2.iloc[0,0]**2)+
                 (Data1.iloc[i,1]**2-Data2.iloc[0,1]**2)+
                 (Data1.iloc[i,2]**2-Data2.iloc[0,2]**2))
  print(distance)
  print(f"Index: {i}, Distance: {distance}")
  distances.append(distance)

13.354774427147769
Index: 0, Distance: 13.354774427147769
18.81967056034722
Index: 1, Distance: 18.81967056034722
20.600970850908944
Index: 2, Distance: 20.600970850908944
nan
Index: 3, Distance: nan
22.784205055257033
Index: 4, Distance: 22.784205055257033

C:\Users\Anushka\AppData\Local\Temp\ipykernel_19128\1731882031.py:3: RuntimeWarning: invalid value encountered in sqrt
  distance=np.sqrt((Data1.iloc[i,0]**2-Data2.iloc[0,0]**2)+

In [56]:
print(distances)
Data1['Distance']=distances
Data1

[np.float64(13.354774427147769), np.float64(18.81967056034722), np.float64(20.600970850908944), np.float64(nan), np.float64(22.784205055257033)]

    GEN   OBC  SC/ST  Scope_to_qualify   Distance
0  31.7  28.5   21.1                 1  13.354774
1  32.9  29.6   21.9                 0  18.819671
2  33.4  30.0   22.2                 1  20.600971
3  28.5  25.6   20.0                 1        NaN
4  34.0  30.6   22.6                 0  22.784205

In [63]:
Data1_sorted=Data1.sort_values(by='Distance')
Data1_sorted

    GEN   OBC  SC/ST  Scope_to_qualify   Distance
0  31.7  28.5   21.1                 1  13.354774
1  32.9  29.6   21.9                 0  18.819671
2  33.4  30.0   22.2                 1  20.600971
4  34.0  30.6   22.6                 0  22.784205
3  28.5  25.6   20.0                 1        NaN

In [66]:
print('Enter the value for k:')
k=input()

Enter the value for k:

 3

In [81]:
k_nearest_neighbor=Data1_sorted.head(k)
print('Nearest neighbors are:')
print(k_nearest_neighbor)

Nearest neighbors are:
    GEN   OBC  SC/ST  Scope_to_qualify   Distance
0  31.7  28.5   21.1                 1  13.354774
1  32.9  29.6   21.9                 0  18.819671
2  33.4  30.0   22.2                 1  20.600971

In [80]:
count=k_nearest_neighbor['Scope_to_qualify'].value_counts()
predicted_Scope_to_qualify=count.idxmax()
print('The predicted scope for qualifying Gate exam is:')
print(predicted_Scope_to_qualify)

The predicted scope for qualifying Gate exam is:
1